@{
    ViewData["Title"] = "Create";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>

<h2>Create a Multiselect Dropdown with Checkboxes</h2>

<!-- Multiselect dropdown control -->
<div>
    <select id="mySkills" multiple="multiple" name="mySkillsName">
        @if (ViewBag.mySkills != null)
        {
            foreach (var item in ViewBag.mySkills)
            {
                <option value="@item.Value">@item.Text</option>
            }
        }
    </select>
</div>

<!-- Initialize the multiselect plugin -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#mySkills').multiselect({
            includeSelectAllOption: true,  // Option to select all checkboxes
            nonSelectedText: '--Select Skills--',  // Placeholder text for dropdown
            enableFiltering: true,  /
            buttonWidth: '100%'  
        });
    });
</script>
